@charset "UTF-8";
@import url(../../../../../../styles/_fonts.scss);
.product__big-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px;
  border: 1px var(--color-principal-special) dotted;
  border-radius: 15px;
}

.product__img-box {
  position: relative;
}

.product__image {
  width: 100%;
  height: auto;
  border-radius: 15px;
}

.product__favs-box {
  width: 20px;
  height: auto;
  -webkit-filter: var(--color-grey-100-svg);
          filter: var(--color-grey-100-svg);
  position: absolute;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.product__info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px 0;
  padding: 0 10px;
  width: 100%;
}

.product__title {
  font-size: 20px;
  font-weight: bold;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  margin-bottom: 5px;
  text-align: center;
  font-family: 'Roboto Medium';
  color: var(--color-principal);
}

.product__description {
  margin: 0;
  font-size: 10px;
  color: var(--color-grey);
  text-align: center;
  font-family: 'Roboto Regular';
}

.product__cart-container {
  margin-top: 10px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.product__add-cart {
  background-color: var(--color-principal);
  color: var(--color-white);
  padding: 7px;
  border-radius: 10px;
  font-size: 12px;
  cursor: pointer;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.product__price {
  color: var(--color-principal);
  font-family: 'Roboto Thin';
}

.product__price--old-price {
  font-size: 15px;
  text-decoration: line-through;
}

.product__price--old-price::after {
  content: ' €';
  font-size: 10px;
}

.product__price--discount {
  font-size: 25px;
  text-decoration: none;
}

.product__price--discount::after {
  content: ' €';
  font-size: 15px;
}

@media (min-width: 768px) {
  .product__add-cart:hover {
    background-color: var(--color-white);
    border: 1px var(--color-principal) dotted;
    color: var(--color-principal);
  }
  .product__favs-box:hover {
    -webkit-filter: var(--color-principal-svg);
            filter: var(--color-principal-svg);
  }
}
/*# sourceMappingURL=products.component.css.map */