@import url(../../../../../../styles/_fonts.scss);

.product {
    &__big-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 300px;
        flex-direction: column;
        margin: 10px;
        border: 1px var(--color-principal-special) dotted;
        border-radius: 15px;
    }
    &__img-box {
        position: relative;
    }
    &__image {
        width: 100%;
        height: auto;
        border-radius: 15px;

    }
    &__favs-box {
        width: 20px;
        height: auto;
        filter: var(--color-grey-100-svg);
        position: absolute;
        bottom: 10px;
        right: 10px;
        cursor: pointer;
        transition: 0.3s all ease;
    }
    &__info-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 10px 0;
        padding: 0 10px;
        width: 100%;
    }
    &__title {
        font-size: 20px;
        font-weight: bold;
        align-items: center;
        margin: 0;
        margin-bottom: 5px;
        text-align: center;
        font-family: 'Roboto Medium';
        color: var(--color-principal);

    }
    &__description {
        margin: 0;
        font-size: 10px;
        color: var(--color-grey);
        text-align: center;
        font-family: 'Roboto Regular';
    }
    
    &__cart-container {
        margin-top: 10px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    &__add-cart {
        background-color: var(--color-principal);
        color: var(--color-white);
        padding: 7px;
        border-radius: 10px;
        font-size: 12px;
        cursor: pointer;
        transition: 0.5s ease;
    }
    &__price {
        color: var(--color-principal);
        font-family: 'Roboto Thin';
        &--old-price {
            font-size: 15px;
            text-decoration: line-through;
            &::after {
                content: ' €';
                font-size: 10px;
            }
        }
        &--discount {
            font-size: 25px;
            text-decoration: none;
            &::after {
                content: ' €';
                font-size: 15px;
            }
        }
    }
}

@media (min-width: 768px) {
    .product {
        &__add-cart:hover {
            background-color: var(--color-white);
            border: 1px var(--color-principal) dotted;
            color: var(--color-principal);
        }
        &__favs-box:hover{
            filter: var(--color-principal-svg);
        }
    }
}