<div class="main__container">
    <div *ngIf="saveCart.length <= 0" class="main__sub-container">
        <h1 class="main__title">Tu carrito esta vacío 😲</h1>
        <p class="main__title">¿Qué esperas para agregar prendas al carrito? Corre y no te quedes con las manos vacías
        </p>
    </div>
    <div *ngIf="saveCart.length >= 1" class="main__sub-container">
        <h1 class="main__title">Aquí tienes tu carrito 🛒</h1>
        <p class="cart__articles">Total de prendas en el carrito: <span class="cart__articles--number">{{saveCart.length}}</span></p>
        <div *ngFor="let product of saveCart" class="cart__big-container">
            <div class="cart__container">
                <div class="cart__product-box">
                    <div>
                        <img src="{{product.image.src}}" alt="{{product.image.alt}}" class="cart__product-img">
                    </div>
                    <div class="cart__product-info">
                        <h1 class="cart__product-title">{{product.name.toUpperCase()}}</h1>
                        <p class="cart__product-description">{{product.description}}</p>
                        <p class="cart__product-price">PRECIO: <span class="cart__product-price--number">{{promotion.apli15Discount(product.price)}}</span></p>
                    </div>
                    <div class="cart__product-delete" (click)="cartService.deleteItemCart(product)">
                        <img class="cart__product-delete--img" src="../../../../../../assets/icons/trash.svg" alt="Eliminar prenda">
                    </div>
                </div>
            </div>
        </div>
        <div class="cart__total-container">
            <p class="cart__total-text"><span>PRECIO FINAL:</span><span class="cart__total-number">{{promotion.apli15Discount(totalCalculated.toString())}}</span></p>
            <p class="cart__total-text-not-discount">ANTES: <span class="cart__total-number">{{totalCalculated}}</span></p>
        </div>
        <div class="cart__total-buy">PAGAR</div>
    </div>
</div>