.cart__big-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cart__container {
  width: 100%;
  margin: 10px 20px;
  border-bottom: 1px var(--color-grey-100) solid;
}

.cart__product-box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.cart__product-img {
  width: 50px;
  height: auto;
  border-radius: 5px;
  border: 1px var(--color-principal-special) dotted;
}

.cart__product-info {
  margin-left: 20px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px 0;
}

.cart__product-title {
  font-size: 20px;
  font-family: 'Roboto Medium';
  margin: 0;
  color: var(--color-principal);
}

.cart__product-description {
  font-size: 12px;
  font-family: 'Roboto Regular';
  margin: 0;
  color: var(--color-grey);
}

.cart__product-price {
  text-align: end;
  margin: 0;
  font-size: 9px;
  color: var(--color-grey);
}

.cart__product-price--number {
  font-size: 18px;
  color: var(--color-principal);
}

.cart__product-delete {
  position: absolute;
  top: 10px;
  right: 10px;
}

.cart__product-delete--img {
  width: 15px;
  height: auto;
  -webkit-filter: var(--color-grey-100-svg);
          filter: var(--color-grey-100-svg);
}

.cart__total-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 20px;
  margin-top: 10px;
}

.cart__total-text {
  margin: 0px;
  color: var(--color-grey);
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.cart__total-text-not-discount {
  margin: 0px;
  color: var(--color-grey);
  text-decoration: line-through;
  font-size: 10px;
}

.cart__total-number {
  color: var(--color-principal);
}

.cart__total-buy {
  background-color: var(--color-principal);
  color: var(--color-white);
  padding: 7px;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
  margin: 20px;
  text-align: center;
}

.cart__articles {
  margin: 0px;
  color: var(--color-grey);
  font-size: 12px;
  padding: 0 20px;
}

.cart__articles--number {
  color: var(--color-principal);
}
/*# sourceMappingURL=cart.component.css.map */