.footer__container {
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: var(--color-white);
  padding: 15px 0;
  border-top: 1px var(--color-principal-special) solid;
}

.footer__container-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__icon {
  cursor: pointer;
  width: 25px;
  height: auto;
  -webkit-filter: var(--color-principal-svg);
          filter: var(--color-principal-svg);
}

.footer__element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.footer__text {
  font-size: 10px;
  color: var(--color-principal);
  font-family: 'Roboto Thin';
  letter-spacing: 2px;
}

.footer__copyright {
  display: none;
}

@media (min-width: 768px) {
  .footer__container {
    position: relative;
  }
  .footer__icon {
    display: none;
  }
  .footer__text {
    display: none;
  }
  .footer__copyright {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 10px;
    font-size: 15px;
    color: var(--color-grey);
  }
}
/*# sourceMappingURL=footer.component.css.map */