@font-face {
    font-family: 'Athene';
    font-style: normal;
    font-weight: normal;
    src: url('../assets/fonts/Athene.otf');
}

@font-face {
    font-family: 'Roboto Thin';
    font-style: normal;
    font-weight: normal;
    src: url('../assets/fonts/Roboto-Thin.ttf');
}

@font-face {
    font-family: 'Roboto Regular';
    font-style: normal;
    font-weight: normal;
    src: url('../assets/fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Roboto Medium';
    font-style: normal;
    font-weight: normal;
    src: url('../assets/fonts/Roboto-Medium.ttf');
}

