@import url(../../../../../../styles/_fonts.scss);
.hero__container {
  position: relative;
}

.hero__img {
  width: 100%;
  min-height: auto;
}

.hero__text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
}

.hero__main-text {
  margin: 0px;
  font-size: 35px;
  color: var(--color-white);
  font-family: 'Roboto Medium';
  padding: 10px 0;
}

@media (min-width: 768px) {
  .hero__container {
    width: 100%;
    height: auto;
  }
  .hero__img {
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center 50%;
       object-position: center 50%;
    height: 500px;
  }
  .hero__main-text {
    font-size: 50px;
  }
  .hero__rrss-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .hero__rrss-box {
    position: absolute;
    bottom: 0;
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 20px;
  }
  .hero__rrss-img {
    width: 30px;
    height: auto;
    -webkit-filter: var(--color-white-svg);
            filter: var(--color-white-svg);
    padding: 0 15px;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
  }
  .hero__rrss-img:hover {
    -webkit-filter: var(--color-principal-svg);
            filter: var(--color-principal-svg);
  }
}

@media (max-width: 768px) {
  .hero__rrss-container {
    display: none;
  }
  .hero__rrss-box {
    display: none;
  }
  .hero__rrss-img {
    display: none;
  }
}
/*# sourceMappingURL=hero.component.css.map */