@import url(../../../../../../styles/_fonts.scss);

.hero {
    &__container {
        position: relative;
    }
    &__img {
        width: 100%;
        min-height: auto;
    }
    &__text-box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
    }
    &__main-text {
        margin: 0px;
        font-size: 35px;
        color: var(--color-white);
        font-family: 'Roboto Medium';
        // text-shadow: 2px 3px 5px rgba(0,0,0,0.5);
        padding: 10px 0;
    }
}

@media (min-width: 768px) {
    .hero {
        &__container {
            width: 100%;
            height: auto;
        }
        &__img {
            object-fit: cover;
            object-position: center 50%;
            height: 500px;
        }
        &__main-text {
            font-size: 50px;
        }
        &__rrss {
            &-container {
                display: flex;
                justify-content: center;
            }
            &-box {
                position: absolute;
                bottom: 0;
                width: 80%;
                display: flex;
                justify-content: center;
                padding-bottom: 20px;
            }
            &-img {
                width: 30px;
                height: auto;
                filter: var(--color-white-svg);
                padding: 0 15px;
                transition: 0.5s ease;
                &:hover {
                    filter: var(--color-principal-svg);
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .hero {
        &__rrss {
            &-container {
                display: none;
            }
            &-box {
                display: none;
            }
            &-img {
                display: none;
            }
        }
    }
}