@import url(../../../../styles/_fonts.scss);
.header__promotion-container {
  background-color: var(--color-principal);
  color: var(--color-white);
  width: 100%;
  padding: 3px;
  text-align: center;
  font-size: 10px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.header__promotion-container--close-button {
  position: absolute;
  color: var(--color-white);
  top: 50%;
  right: 10px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  cursor: pointer;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-bottom: 1px var(--color-grey-100) solid;
  padding-top: 10px;
}

.header__container-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-decoration: none;
}

.header__title {
  font-family: 'Athene';
  font-size: 25px;
  color: var(--color-principal);
  margin: 0px;
  padding-top: 15px;
  letter-spacing: 3px;
  text-align: center;
}

.header__subtitle {
  margin: -5px 0 7px 0;
  color: var(--color-grey);
  letter-spacing: 10px;
  font-size: 10px;
  text-align: center;
}

.header__subtitle::after {
  content: '-';
}

.header__subtitle::before {
  content: '-';
}

@media (min-width: 768px) {
  .header__promotion-container {
    padding: 7px;
    font-size: 12px;
  }
  .header__promotion-container--close-button {
    top: 50%;
    right: 30px;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    cursor: pointer;
  }
  .header__container {
    padding-top: 20px;
  }
  .header__title {
    font-size: 30px;
  }
  .header__subtitle {
    font-size: 12px;
  }
  .header-b__container {
    position: relative;
    width: 100%;
    background-color: var(--color-white);
    border-top: 1px var(--color-grey-100) dotted;
  }
  .header-b__container-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header-b__element {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 150px;
    height: 100%;
    padding: 15px 30px;
    color: var(--color-principal);
    cursor: pointer;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
  }
  .header-b__element:hover {
    background-color: var(--color-principal);
    color: var(--color-white);
    font-weight: bold;
  }
  .header-b__text {
    font-size: 20px;
    font-family: 'Roboto Thin';
    letter-spacing: 2px;
  }
}

@media (max-width: 768px) {
  .header-b__container {
    display: none;
  }
  .header-b__container-icons {
    display: none;
  }
  .header-b__element {
    display: none;
  }
  .header-b__text {
    display: none;
  }
}
/*# sourceMappingURL=header.component.css.map */