.favorites__sub-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.favorites__container {
  width: 100%;
  margin: 10px 20px;
  border-bottom: 1px var(--color-grey-100) solid;
}

.favorites__product-box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.favorites__product-image {
  width: 80px;
  height: auto;
  border-radius: 5px;
  border: 1px var(--color-principal-special) dotted;
}

.favorites__product-info {
  margin-left: 20px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px 0;
}

.favorites__product-title {
  font-size: 20px;
  font-family: 'Roboto Medium';
  margin: 0;
  color: var(--color-principal);
}

.favorites__product-description {
  font-size: 12px;
  font-family: 'Roboto Regular';
  margin: 0;
  color: var(--color-grey);
}

.favorites__product-buttons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.favorites__product-price {
  background-color: var(--color-principal);
  color: var(--color-white);
  padding: 7px;
  border-radius: 10px;
  font-size: 15px;
  color: var(--color-white);
  border: 0;
  width: 100%;
  margin-top: 5px;
  cursor: pointer;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.favorites__product-price--number {
  font-weight: bold;
  font-size: 16px;
}

.favorites__product-delete {
  color: var(--color-principal);
  text-decoration: underline;
  font-size: 8px;
  margin-right: 5px;
  cursor: pointer;
}

.favorites__total {
  margin: 0px;
  color: var(--color-grey);
  font-size: 12px;
  padding: 0 20px;
}

.favorites__total--number {
  color: var(--color-principal);
}

@media (min-width: 768px) {
  .favorites__sub-container {
    width: 400px;
    margin: 15px;
  }
  .favorites__big-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    min-width: 1200px;
  }
  .favorites__product-price:hover {
    background-color: var(--color-white);
    border: 1px var(--color-principal) dotted;
    color: var(--color-principal);
  }
  .favorites__product-image {
    width: 200px;
  }
  .favorites__total {
    padding: 0 50px;
  }
  .favorites__two-containers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .favorites__aside-container {
    position: relative;
  }
  .favorites__aside-image {
    width: 200px;
    height: 700px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .favorites__aside-image-message {
    position: absolute;
    top: 470px;
    left: 0;
  }
  .favorites__aside-image-border {
    position: absolute;
    top: 0;
    left: 0;
  }
}
/*# sourceMappingURL=favorites.component.css.map */